.userProfile{
    display: flex;
    justify-content: center;
    text-align: center;
    /* margin-top: 1rem; */
    /* background-color: #fff; */
    /* padding: var(--card-padding);
    border-radius: var(--card-border-radius); */
    /* box-shadow: var(--box-shadow); */
    cursor: pointer;
    padding: 0px;
    transition: all 0.3s ease;
}