.erp-logo-area{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    margin-top: -3px;
}

.down-icon-image{
    position: relative;
    height: 10%;
    width: 8%;
    left: -10px;
}
.erp-logo{
    height:30%;
    width:78%;
    padding-left: 30px;
}
.down-icon-image:hover{
    cursor: pointer;
}

.module-lists-drawer .ant-drawer-header{
    display: none !important;
}

.module-lists-drawer .module-inner-container{
    padding: 0px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.module-lists-drawer .module-card{
    border: none;
    background-color: #fff;
}
.module-lists-drawer  .ant-card-body{
    background-color: #fff;
    //background: rgba(215, 255, 215, 0.20);
}
.module-lists-drawer .module-title{
    font-family: 'Titillium Web',sans-serif;
    font-size: 18px;
    font-weight: 500;
}
.module-lists-drawer .ant-card .ant-card-grid{
    border: 1px solid  #299647;
    background: rgba(215, 255, 215, 0.20);
    border-radius: 2px;
    padding: 15px 10px;
}
.module-lists-drawer .ant-card .ant-card-grid:hover{
    cursor: pointer;
}

.module-lists-drawer .module-image{
    height: 64px;
    width: 65px;


    
}
.module-lists-drawer .module-description{
    font-family: 'Titillium Web',sans-serif;
    font-size: 15px;
    font-weight: 700;
}

.header-top .ant-avatar-circle:hover{
    cursor: pointer;
}
// ERP SETTINGS CSS 
.erp-setting-area{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 3px;
}


/*** RESPONSIVE AREA ***/
@media only screen and (min-width:480px) {
    
}
@media only screen and (min-width:768px) {
    
}
@media only screen and (min-width:980px) {
   
}
@media only screen and (min-width:1360px) {
    
}
@media only screen and (min-width:1920px) {
    .down-icon-image{
        left: -25px;
    }
    .erp-logo{
        height: 40%;
        width: 60%;
        position: relative;
        left: -100px;
    }
}
