/* .attendence-date-picker{
    border-color: #e9e9f1 !important; 
    font-family: 'Titillium Web',sans-serif;
    font-size: 12px;
    font-weight: 500;
}

.attendence-date-picker:hover{
    border-color: #e9e9f1 !important; 
}
 */
