.calender-container{
    
}
.react-calendar{
    width: 100%;
    border-color: #fff;
    /* box-shadow:0 2rem 20rem rgba(132, 139, 200, 0.18); */
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    border-radius: 6px; */
    /* padding: 10px 8px; */
    min-height: 48vh !important;
}
.react-calendar__navigation__label{
    color: #000;
    font-family: 'Titillium Web',sans-serif;
    font-weight: 600;
    font-size: 13px;
}
.react-calendar__month-view__weekdays__weekday{
    font-family: 'Titillium Web',sans-serif;
    font-weight: 600;
    font-size: 11px;
    color: rgb(19 74 143);
}
.react-calendar__tile{
    color: #000;
    font-family: 'Titillium Web',sans-serif;
    font-weight: 600;
    font-size: 12px;
}
.react-calendar__tile:hover{
    background: #f3f3f7 !important;
    border-radius: 12px;
}
.react-calendar__tile--now{
    background: #f3f3f7 !important;
    color: #000;
    font-weight: 700;
    font-size: 13px;
    border-radius: 12px;
}
.react-calendar__tile--now:hover{
    background: #f3f3f7 !important;
    color: #000;
    border-radius: 12px !important;
}
.react-calendar__tile--active{
    background: #f3f3f7 !important;
    border-radius: 12px;
}
/* .react-calendar__tile--now:hover{
    background: rgb(19 74 143);
} */
.react-calendar__month-view__days__day--weekend{
    color: #000;
    font-family: 'Titillium Web',sans-serif;
    font-weight: 600;
    font-size: 10px;
}
.react-calendar__month-view__days__day--neighboringMonth{
    color: #757575 !important;
    opacity: .3;
}
.highlight{
    font-family: 'Titillium Web',sans-serif;
    font-weight: 600;
    font-size: 12px;
    border-radius: 5px;
    color: #FF0060 !important;
    padding: 5px !important;
}